:root {
    --color-background-gradient-right: #565463;
    --color-background-gradient-left: #26272e;
    --color-welcome-title: #ececec;

    --color-input-btn: #272323c0;
    --color-input-btn-hover:#505050; 
    --color-input-btn-text: #838383;
    --color-input-btn-hover-text: #838383;


    --color-form: #424242b6;

}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(20deg, var(--color-background-gradient-left), var(--color-background-gradient-right));
}



.title-welcome {
    letter-spacing: .12em;
    color: var(--color-welcome-title);
}

.container-form {
    width: 100%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container-form .form {
    max-width: 60%;
    width: 100%;
    margin: 0 50px;
    padding: 25px 40px;
    border-radius: 5px;
    background-color: var(--color-form);
}

.container-form .login {
    display: flex;
    flex-direction: column;
}

.container-form .login label {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: .9em;
    color: #ecd8d8;
    margin: 10px 0px 5px 0px;
    transition: transform .1s ease;
}

.container-form .login label:hover {
    transform:translate(0, 20px);
    transform:scale(.9);
}


/* inputs*/

.container-form .login input[type="text"],
input[type="password"],input[type="email"],
input[type="submit"]
{
    font-size: .9em;
    border: 5px double rgb(70, 70, 70);
    letter-spacing: .11em;
    color: rgb(219, 219, 219);
    border-radius: 10px;
    background-color: #383434c0;
    padding: 15px 20px 15px 10px;
   
}

.container-form .login input[type="text"]:focus,
    input[type="password"]:focus,input[type="email"]:focus {
    outline: 3px solid #4e4e4e;

}



input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    font-family: 'Open Sans',sans-serif;
    background-color: var(--color-input-btn);
    color: #838383;
    cursor: not-allowed;
    transition: background .4s ease;
    
}

input[type="submit"]:hover {
    background-color: var(--color-input-btn-hover);
    
}


/* Responsive*/

@media (min-width: 600px) {

    
    .container-form .form {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .title-welcome {
        grid-column: span 2;
    }

    input[type="submit"] {
        grid-column: span 2;
    }



} 













