$color-background-gradient-right: #565463;
$color-background-gradient-left: #26272e;
$color-welcome-title: #ececec;

$color-input-btn: #272323c0;
$color-input-btn-hover: #505050;
$color-input-btn-text: #838383;
$color-input-btn-hover-text: #838383;

$color-form: #424242b6;
